@import './../../../main-style.scss';
.outer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .centered-box{
        display: flex;
        max-width: 1000px;
        max-height: 680px;
        width: 100%;
        height: 100%;

        .left-pan{
            display: flex;
            flex-direction: column;
            width: 300px;
            background: white;
            padding: 42px;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            .replying-to-section{
                margin-top: 15px;
                display: flex;
                padding: 8px;
                gap: 5px;
                border: 1px solid a;
                box-shadow: inset 1px 0px 5px 1px lightyellow;
                border-radius: 8px;
                background: bisque;
                flex-direction: column;
                max-height: 300px;
                .replying-to{
                    font-weight: 600;
                }
                .replying-to-details{
                    font-style: italic;
                    font-size: 14px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .form{
                margin-top:1rem;

                .input-container{
                    display: flex;
                    flex-direction: column;
                    gap:1rem;

                    .input-field{
                        display: flex;
                        flex-direction: column;
                    }
                }
                .button{
                    margin-top:1rem;
                    float: right;
                }
            }
        }
        .right-pan{
            flex-grow: 1;
            background: $light;
            flex-direction: column;
            border-top-right-radius: 8px;
            padding: 42px;
            border-bottom-right-radius: 8px;
            position: relative;
            ;
        }
    }
}